:root {
  /* --accent-color1: #A66CFF; */
  /*main*/
  --accent-color2: #aa48ff;
  /* old */
  /* --accent: #a135ff; */
  --accent: var(--accent-color2);
  --accent-hover: #c888ff21;
  --dark: #040404;
  --light: #fff;
  --black-90: rgba(0, 0, 0, 0.9);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-30: rgba(0, 0, 0, 0.3);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-08: rgba(255, 255, 255, 0.08);
  --font-Exo: "Exo", sans-serif;
  --font-Poppins: "Poppins", sans-serif;
  --font-Raleway: "Raleway", sans-serif;
}

body {
  font-family: var(--font-Exo);
  background-color: var(--dark);
  color: var(--light);
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: var(--dark) url("../img/bg.jpg") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -10;
}

@media (max-width:992px) {
  body:before {
    background: var(--dark) url("../img/bg2.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -10;
  }
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

.scroll-off {
  overflow: hidden;
}

a {
  color: var(--accent);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

.download-cv .btn {
  color: var(--light);
  background-color: var(--black-30);
  border: 1px solid var(--white-20);
  border-radius: 5px;
}

.download-cv .btn:hover {
  background-color: var(--accent);
}

.download-cv i {
  margin-right: 10px;
}

.end-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.end-title h2 {
  cursor: default;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  position: absolute;
  color: var(--accent);
}

@media (max-width: 992px) {
  .end-title h2 {
    font-size: 12px;
    padding: 0px 15px;
  }
}


/* header */
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}

/* if fonts gets hidden because of bg */
/* #header .container {
  background: var(--black-30);
  box-shadow: 0px 0px 30px 50px var(--black-30);
} */
#header * {
  transition: ease-in-out 0.3s;
}

#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a,
#header h1 a:hover {
  color: var(--light);
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: var(--white-80);
}

#header h2 span {
  color: var(--light);
  border-bottom: 2px solid var(--accent);
  padding-bottom: 6px;
}

#header img {
  padding: 0;
  margin: 0;
}

/* == LOOK & FEEL == */
.glow,
h2::after,
.progress-bar {
  --interval: 7s;
  --color1: #e4c8fd;
  --color2: #a641ff;
  --color3: #6c00ca;
  color: #921ef8;
  text-shadow: 0 0 2px var(--color1), 0 0 8px var(--color2), 0 0 15px var(--color3);
  will-change: filter, color;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 1s infinite;
}

@keyframes flicker {
  50% {
    color: white;
    filter: saturate(200%) hue-rotate(10deg);
  }
}

/* =============== */

.social-links {
  margin-top: 40px;
  display: flex;
}

.social-links a {
  transition: 0.3s;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--black-30);
  color: var(--light);
  line-height: 1;
  margin: 0px 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.social-links i {
  font-size: 1.5rem;
}

.social-links a:nth-child(1) {
  margin-left: 0px;
}

.social-links a:nth-child(1):hover {
  background: #0ca4ca;
  /* Twitter */
}

.social-links a:nth-child(2):hover {
  background: #007bff;
  /* facebook */
}

.social-links a:nth-child(3):hover {
  background: #ff0066;
  /* Instagram */
}

.social-links a:nth-child(4):hover {
  background: #004bcc;
  /* Linkdein */
}

.social-links a:nth-child(5):hover {
  background: #d010d0;
  /* Github */
}


@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }

  #header h2 {
    text-align: center;
    font-size: 20px;
    line-height: 40px;
  }

  .social-links {
    margin-top: 10px;
  }

  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--black-60);
    box-shadow: 0px 0px 30px 50px var(--black-60);
  }
}

/* Header Top */
#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: var(--black-90);
}

#header.header-top .social-links,
#header.header-top .download-cv,
#header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-left: 10px;
  margin-right: auto;
  font-size: 36px;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .navbar {
  margin: 0;
}


@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }

  #header.header-top h1 {
    font-size: 26px;
  }

  .social-links i {
    font-size: 1.1rem;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation  */

.navbar {
  padding: 0;
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--white-70);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar i {
  margin: 10px !important;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--accent);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 3px;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 70%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--light);
}

/* Mobile Navigation  */
.mobile-nav-toggle {
  color: var(--light);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 30px;
}

.mobile-nav-toggle.bx-x {
  top: 25px;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

@media (max-width: 768px) {
  .mobile-nav-toggle {
    top: 20px;
  }
  .mobile-nav-toggle.bx-x {
    top: 15px;
  }
}

.navbar-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--black-90);
  transition: 0.3s;
  z-index: 999;
  margin-top: 0;
}

.navbar-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 80%;
  padding: 10px 0;
  overflow-y: auto;
  transition: 0.3s;
  border: 2px solid var(--accent);
  border-radius: 10px;
}

.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li+li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 20px;
  position: relative;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

section .container {
  background: var(--black-90);
  padding: 30px 30px 10px 30px;
}

section .container:first-child {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

section .container:last-child {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }

  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--accent);
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--light);
}

.section-title span {
  margin-right: -15px !important;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--accent);
}

.about-me .img {
  background-color: #c888ff21;
  transition: 0.5s;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me .img-fluid {
  max-width: min(350px, 100%) !important;
}

.about-me hr {
  width: 95%;
  margin: 20px auto;
  padding-top: -10px;
  border: 1.5px solid var(--accent-color2);
}

.about-me .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-me .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about-me .content .main-info li:last-child {
  margin-bottom: 0px;
}

.about-me .content ul strong {
  margin-right: 10px;
}

.about-me .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: var(--accent);
  line-height: 0;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

.counts a {
  text-decoration: none;
  text-decoration-style: none;
  color: #fff;
  font-size: 24px;
}

.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: var(--white-08);
  border-radius: 5px;
}

.counts .count-box:hover {
  background-color: var(--accent-hover);
}

.counts .count-box span {
  font-size: 40px;
  display: block;
  font-weight: 600;
  color: var(--light);
}

.counts .count-box p {
  padding: 0;
  margin: 0px -20px;
  font-family: var(--font-Exo);
  font-size: 18px;
}

@media (max-width: 768px) {
  .counts .count-box p {
    font-size: 14px;
  }

  .counts .count-box span {
    font-size: 30px;
  }
}

/* skills */
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--light);
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: var(--white-20);
  border-radius: 5px !important;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: var(--accent);
  border-radius: 5px !important;
}

/* interests */
.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: var(--white-08);
  transition: ease-in-out 0.3s;
  border-radius: 5px;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: var(--light);
}

/* resume */
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--light);
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid var(--white-20);
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: var(--accent);
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--accent);
  border: 2px solid var(--accent);
}

/* portfolio */
#portfolio-menu {
  display: block;
}

.portfolio .container {
  border-radius: 10px !important;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
  display: none;
}

.portfolio .filter-show {
  display: block;
  animation: fade-in 1s;
}

.portfolio img {
  border-radius: 5px !important;
}

/* for smooth transition*/
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.portfolio #portfolio-filters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-filters li {
  font-family: var(--font-Exo);
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--light);
  background: var(--white-10);
  margin: 0 3px 10px 3px;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;
}

.portfolio #portfolio-filters li:hover,
.portfolio #portfolio-filters li.filter-active {
  background: var(--accent);
}

.portfolio #portfolio-filters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: var(--black-60);
  border-radius: 5px;
  cursor: pointer;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: var(--black-60);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
  border-radius: 5px;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid var(--light);
  border-left: 3px solid var(--light);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid var(--light);
  border-right: 3px solid var(--light);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: var(--light);
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: var(--light);
  font-size: 14px;
  text-transform: uppercase;
  padding: 0px 30px;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  cursor: pointer;
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a,
.portfolio .portfolio-wrap .portfolio-links button {
  color: var(--light);
  margin: 4px 4px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover,
.portfolio .portfolio-wrap .portfolio-links button:hover {
  color: var(--accent);
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/* portfolio details */
#portfolio-details {
  display: none;
}

.portfolio-details {
  padding: 30px !important;
  background: var(--black-90);
  position: relative;
  width: 100%;
  justify-content: center;
  overflow-y: auto;
}

.portfolio-details .section-title {
  display: flex;
  justify-content: space-between;
}

.portfolio-details .section-title i {
  cursor: pointer;
  color: var(--accent);
  font-size: 35px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
}

.portfolio-details .section-title i:hover {
  color: var(--light);
}

.portfolio-details .container {
  padding-top: 20px;
  padding-bottom: 40px;
}

.portfolio-details .portfolio-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li {
  color: var(--accent);
  font-weight: 700;
  font-family: var(--font-Raleway)
}

.portfolio-details .text {
  font-weight: 400;
  color: #fff;
}

.portfolio-details a {
  background-color: var(--accent);
  color: var(--light);
  border: 2px solid var(--accent);
  padding: 2px 10px;
  font-size: 16px;
  border-radius: 5px;
}

.portfolio-details a:hover {
  background-color: var(--accent-hover);
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .portfolio-details .portfolio-info {
    padding-top: 20px;
  }
}

/* contact */
.contact .info-box {
  padding: 20px;
  width: 100%;
  background: var(--white-08);
  border-radius: 5px;
}

.contact .info-box i.bx {
  font-size: 24px;
  color: var(--accent);
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: var(--white-10);
}

.contact .info-box h3 {
  font-size: 20px;
  color: var(--white-50);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contact .info-box p {
  padding: 0;
  color: var(--light);
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}

.contact .social-links {
  margin-top: 30px;
}

.cp-links {
  flex-wrap: wrap;
}

.cp-links a {
  color: white;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.2s;
}

.cp-links a:nth-child(1):hover {
  color: #8a24ff;
}

.cp-links a:nth-child(2):hover {
  color: #0bffef;
}

.cp-links a:nth-child(3):hover {
  color: #ff8502;
}

.cp-links a:nth-child(4):hover {
  color: #3afc81;
}

.contact .download-cv {
  display: flex;
  justify-content: center;
}

/* Background-blur effect */
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {

  .portfolio-info,
  .count-box,
  .info-box,
  .icon-box,
  .about-me .img,
  .navbar ul,
  #portfolio-filters li {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
  background-color: var(--black-90) !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--accent) !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #cc92ff !important;
}

::-webkit-scrollbar-thumb:active {
  background: #cc92ff !important;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

/*------ Credits ----*/
.credits {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0px 15px;
  text-align: right;
  font-size: 13px;
  color: var(--light);
  z-index: 999999;
}

@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 0px;
    margin-bottom: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--dark), var(--dark));
  }
}

.credits p {
  cursor: default;
  color: var(--accent);
  transition: 0.3s;
}

.credits p:hover {
  color: var(--light);
}